# Introduction
* **작성자**: 박소희
* **본 주피터 코드 목적**: GEO167186 RNA-seq의 DEG 분석을 위함
* **데이터셋**: GSE167186
* **데이터셋 설명**:
    * Experiment type: Expression profiling by high throughput sequencing
    * Platform: Illumina HiSeq 4000
    * Experiment molecule: total RNA
* **샘플 설명**:
    * 평균 20세 (Young): 19명
    * 평균 75세 (Old) non-sarcopenic: 29명
    * 평균 75세 (Old) sarcopenic: 24명
* **참고 논문**: https://www.aging-us.com/article/204435/text
* **데이터셋 링크**: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE167186
* **PyDESeq2 참고 코드**: https://pydeseq2.readthedocs.io/en/latest/auto_examples/plot_minimal_pydeseq2_pipeline.html
* **Enrichr**: https://maayanlab.cloud/Enrichr/enrich#

# Data collection
* DEG 분석을 위해 **Count table**과 샘플의 그룹 정보가 포함된 **Metadata**가 필요합니다.
* 아래에서 **Count table**과 **Metadata table**을 불러와 형태를 확인합니다.

In [1]:
import pandas as pd
import scanpy as sc
import pickle
import os
os.chdir('/Users/soheepark/03-GEO근감소/Data/gse167186/')

/Users/soheepark/anaconda3/envs/pydeseq2/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

먼저 **Count table을 확인**해봅니다.

In [2]:
# Count table 로드
counts = pd.read_csv('../1_GSE167186/GSE167186_counts.csv', index_col=0)
print(counts.shape)
counts.head()

(36694, 76)

,X_10,X_11,X_13,X_14,X_15,X_16,X_17,X_18,X_19,X_1,...,X_75,X_76,X_77,X_78,X_79,X_7,X_80,X_81,X_8,X_9
Symbol,,,,,,,,,,,,,,,,,,,,,
TSPAN6,6,8,10,6,4,2,5,3,5,3,...,5,7,6,9,3,3,7,5,4,1
TNMD,0,1,0,0,1,1,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
DPM1,20,35,14,22,17,9,30,22,22,16,...,34,22,35,20,23,19,40,12,6,34
SCYL3,18,10,6,18,9,9,11,18,8,6,...,11,13,11,12,12,9,5,8,5,10
C1orf112,1,2,1,1,2,0,0,1,0,0,...,2,0,0,1,1,0,0,1,2,0

다음으로 **Metadata를 확인**해봅니다.

In [3]:
# Metadata 로드
meta = pd.read_table('../1_GSE167186/GSE167186-GPL20301_series_matrix.txt', sep='\t', skiprows=30, index_col=0)
meta.head()

,X_10,X_11,X_13,X_14,X_15,X_16,X_17,X_18,X_19,X_1,...,X_75,X_76,X_77,X_78,X_79,X_7,X_80,X_81,X_8,X_9
!Sample_title,,,,,,,,,,,,,,,,,,,,,
!Sample_geo_accession,GSM5098661,GSM5098662,GSM5098663,GSM5098664,GSM5098665,GSM5098666,GSM5098667,GSM5098668,GSM5098669,GSM5098670,...,GSM5098727,GSM5098728,GSM5098729,GSM5098730,GSM5098731,GSM5098732,GSM5098733,GSM5098734,GSM5098735,GSM5098736
!Sample_status,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,...,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022,Public on Mar 31 2022
!Sample_submission_date,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,...,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021,Feb 21 2021
!Sample_last_update_date,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,...,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023,Sep 14 2023
!Sample_type,SRA,SRA,SRA,SRA,SRA,SRA,SRA,SRA,SRA,SRA,...,SRA,SRA,SRA,SRA,SRA,SRA,SRA,SRA,SRA,SRA

`!Sample_characteristics_ch1` 행에 **환자 그룹의 특징이 저장**되어 있습니다.

In [4]:
print(meta.index)

Index(['!Sample_geo_accession', '!Sample_status', '!Sample_submission_date',
       '!Sample_last_update_date', '!Sample_type', '!Sample_channel_count',
       '!Sample_source_name_ch1', '!Sample_organism_ch1',
       '!Sample_characteristics_ch1', '!Sample_characteristics_ch1',
       '!Sample_characteristics_ch1', '!Sample_characteristics_ch1',
       '!Sample_characteristics_ch1', '!Sample_characteristics_ch1',
       '!Sample_characteristics_ch1', '!Sample_characteristics_ch1',
       '!Sample_characteristics_ch1', '!Sample_molecule_ch1',
       '!Sample_extract_protocol_ch1', '!Sample_extract_protocol_ch1',
       '!Sample_extract_protocol_ch1', '!Sample_extract_protocol_ch1',
       '!Sample_taxid_ch1', '!Sample_description', '!Sample_description',
       '!Sample_description', '!Sample_data_processing',
       '!Sample_data_processing', '!Sample_data_processing',
       '!Sample_data_processing', '!Sample_data_processing',
       '!Sample_platform_id', '!Sample_contact_name', '!Sample_contact_email',
       '!Sample_contact_laboratory', '!Sample_contact_institute',
       '!Sample_contact_address', '!Sample_contact_city',
       '!Sample_contact_state', '!Sample_contact_zip/postal_code',
       '!Sample_contact_country', '!Sample_data_row_count',
       '!Sample_instrument_model', '!Sample_library_selection',
       '!Sample_library_source', '!Sample_library_strategy',
       '!Sample_relation', '!Sample_relation', '!Sample_supplementary_file_1',
       '!series_matrix_table_begin', 'ID_REF', '!series_matrix_table_end'],
      dtype='object', name='!Sample_title')

In [5]:
meta.loc['!Sample_characteristics_ch1']

,X_10,X_11,X_13,X_14,X_15,X_16,X_17,X_18,X_19,X_1,...,X_75,X_76,X_77,X_78,X_79,X_7,X_80,X_81,X_8,X_9
!Sample_title,,,,,,,,,,,,,,,,,,,,,
!Sample_characteristics_ch1,group: Sarcopenia,group: Old Healthy,group: Sarcopenia,group: Old Healthy,group: Old Healthy,group: Old Healthy,group: Sarcopenia,group: Old Healthy,group: Sarcopenia,group: Sarcopenia,...,group: Old Healthy,group: Old Healthy,group: Sarcopenia,group: Old Healthy,group: UNCLASSIFIED,group: Sarcopenia,group: Old Healthy,group: Sarcopenia,group: Old Healthy,group: Old Healthy
!Sample_characteristics_ch1,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,...,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle,tissue: Skeletal muscle
!Sample_characteristics_ch1,age: 68,age: 87,age: 83,age: 77,age: 82,age: 73,age: 77.9,age: 64,age: 77,age: 67,...,age: 66,age: 70,age: 71,age: 66,age: 71,age: 73,age: 71,age: 67,age: 76,age: 66
!Sample_characteristics_ch1,6 min walk test (m/s): 1.01010101,6 min walk test (m/s): 1.08892922,6 min walk test (m/s): 1.425178147,6 min walk test (m/s): 0.918836141,biodex (kg): 127.9,biodex (kg): 202.7,6 min walk test (m/s): 0.886262925,6 min walk test (m/s): 1.086956522,6 min walk test (m/s): 1.041666667,biodex (kg): 148.7,...,6 min walk test (m/s): 1.366742597,6 min walk test (m/s): 1.363636364,6 min walk test (m/s): 0.896860987,6 min walk test (m/s): 1.388888889,6 min walk test (m/s): 1.098901099,6 min walk test (m/s): 1.229508197,6 min walk test (m/s): 1.054481547,6 min walk test (m/s): 0.930232558,6 min walk test (m/s): 1.096892139,6 min walk test (m/s): 0.805369128
!Sample_characteristics_ch1,biodex (kg): 166.2,biodex (kg): 136.4,biodex (kg): 143.1,biodex (kg): 222.1,time up and go (s): 7.16,time up and go (s): 8.27,biodex (kg): 171.7,biodex (kg): 203.9,biodex (kg): 143.8,time up and go (s): 7.85,...,biodex (kg): 236.1,biodex (kg): 244.1,biodex (kg): 106.5,biodex (kg): 239.6,biodex (kg): 195.3,biodex (kg): 155,biodex (kg): 215,biodex (kg): 184.4,biodex (kg): 144.5,biodex (kg): 208.8
!Sample_characteristics_ch1,time up and go (s): 7.15,time up and go (s): 7.82,time up and go (s): 7.97,time up and go (s): 6.56,sppb: 12,sppb: 12,time up and go (s): 7.21,time up and go (s): 6.83,time up and go (s): 8.37,grip strength (kg): 41.3,...,time up and go (s): 6.1,time up and go (s): 7.94,time up and go (s): 8.96,time up and go (s): 5.97,time up and go (s): 7.01,time up and go (s): 7.59,time up and go (s): 7.91,time up and go (s): 7.27,time up and go (s): 8.2,time up and go (s): 7.82
!Sample_characteristics_ch1,sppb: 12,sppb: 11,sppb: 10,sppb: 11,grip strength (kg): 35.1,grip strength (kg): 49.1,sppb: 9,sppb: 12,sppb: 7,NaN,...,sppb: 12,sppb: 12,sppb: 8,sppb: 11,sppb: 12,sppb: 11,sppb: 11,sppb: 11,sppb: 10,sppb: 10
!Sample_characteristics_ch1,grip strength (kg): 41.8,grip strength (kg): 24.2,grip strength (kg): 40,grip strength (kg): 35.5,leg press (kg): 94.5,leg press (kg): 145.5,grip strength (kg): 45.5,grip strength (kg): 42.7,grip strength (kg): 33.7,NaN,...,leg press (kg): 157.5,grip strength (kg): 47.6,grip strength (kg): 28.2,grip strength (kg): 42.2,leg press (kg): 139.5,grip strength (kg): 34.3,leg press (kg): 130.5,grip strength (kg): 40.1,grip strength (kg): 41.5,grip strength (kg): 42.2
!Sample_characteristics_ch1,leg press (kg): 130.5,leg press (kg): 129.55,leg press (kg): 127.27,leg press (kg): 229.5,NaN,NaN,leg press (kg): 87.5,leg press (kg): 112.5,leg press (kg): 112.5,NaN,...,NaN,leg press (kg): 166,leg press (kg): 63.5,leg press (kg): 166.5,NaN,leg press (kg): 127.27,NaN,leg press (kg): 130.5,leg press (kg): 94.5,leg press (kg): 147.73

`!Sample_characteristics_ch1` 행에서 **그룹 정보가 들어간 행**을 사용할겁니다.  
다음에서 개수를 확인해봅니다.

In [6]:
meta.iloc[8].value_counts()

group: Old Healthy      29
group: Sarcopenia       24
group: Young Healthy    19
group: UNCLASSIFIED      4
Name: !Sample_characteristics_ch1, dtype: int64

# Extract dataframe for EDA

In [7]:
meta.loc['!Sample_characteristics_ch1'].T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, X_10 to X_9
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   !Sample_characteristics_ch1  76 non-null     object
 1   !Sample_characteristics_ch1  76 non-null     object
 2   !Sample_characteristics_ch1  76 non-null     object
 3   !Sample_characteristics_ch1  76 non-null     object
 4   !Sample_characteristics_ch1  76 non-null     object
 5   !Sample_characteristics_ch1  76 non-null     object
 6   !Sample_characteristics_ch1  74 non-null     object
 7   !Sample_characteristics_ch1  74 non-null     object
 8   !Sample_characteristics_ch1  67 non-null     object
dtypes: object(9)
memory usage: 8.0+ KB

In [8]:
# nan 값 처리
meta.loc['!Sample_characteristics_ch1'] = meta.loc['!Sample_characteristics_ch1'].fillna(': ')

In [9]:
eda = {}
for i in range(0,9):
    key = meta.loc['!Sample_characteristics_ch1'].iloc[i][0].split(': ')[0]
    value = meta.loc['!Sample_characteristics_ch1'].iloc[i]
    value = value.apply(lambda x:x.split(': ')[-1])
    eda[key] = value

eda = pd.DataFrame(eda)

In [10]:
eda.head()

,group,tissue,age,6 min walk test (m/s),biodex (kg),time up and go (s),sppb,grip strength (kg),leg press (kg)
X_10,Sarcopenia,Skeletal muscle,68,1.01010101,166.2,7.15,12,41.8,130.5
X_11,Old Healthy,Skeletal muscle,87,1.08892922,136.4,7.82,11,24.2,129.55
X_13,Sarcopenia,Skeletal muscle,83,1.425178147,143.1,7.97,10,40,127.27
X_14,Old Healthy,Skeletal muscle,77,0.918836141,222.1,6.56,11,35.5,229.5
X_15,Old Healthy,Skeletal muscle,82,127.9,7.16,12,35.1,94.5,

In [11]:
# os.chdir('/Users/soheepark/03-GEO근감소/Data/')
# eda.to_csv('./Results/GSE167186_eda.csv')

# Preprocessing

## Preperation of metadata

다음은 Metadata 정보를 분석에 바로 활용할 수 있도록 전처리하는 과정입니다.  
1. dataframe으로 만듭니다.
2. index 기준 오름차순으로 정렬합니다.
3. 불필요한 문자열을 삭제합니다.
4. 분석에 필요한 그룹만 남겨둡니다.

In [12]:
# group을 나타내는 Metadata를 dataframe으로 만들기
metadata = pd.DataFrame(meta.iloc[8])
print(metadata[metadata.columns[0]].unique())
metadata.head()

['group: Sarcopenia' 'group: Old Healthy' 'group: UNCLASSIFIED'
 'group: Young Healthy']

     !Sample_characteristics_ch1
X_10           group: Sarcopenia
X_11          group: Old Healthy
X_13           group: Sarcopenia
X_14          group: Old Healthy
X_15          group: Old Healthy

In [13]:
metaname1 = {metadata[metadata.columns[0]].unique()[0]:'Old Sarcopenia',
            metadata[metadata.columns[0]].unique()[1]:'Old Healthy',
            metadata[metadata.columns[0]].unique()[2]:'Unclassified',
            metadata[metadata.columns[0]].unique()[3]:'Young Healthy'}
metaname2 = {metadata[metadata.columns[0]].unique()[0]:'OS',
            metadata[metadata.columns[0]].unique()[1]:'OH',
            metadata[metadata.columns[0]].unique()[2]:'Un',
            metadata[metadata.columns[0]].unique()[3]:'YH'}

In [14]:
metadata['Condition_'] = metadata[metadata.columns[0]].replace(metaname1)
metadata['Condition'] = metadata[metadata.columns[0]].replace(metaname2)
del metadata[metadata.columns[0]]
metadata.head()

          Condition_ Condition
X_10  Old Sarcopenia        OS
X_11     Old Healthy        OH
X_13  Old Sarcopenia        OS
X_14     Old Healthy        OH
X_15     Old Healthy        OH

In [15]:
metadata['Sample'] = metadata.index
metadata['Temp'] = metadata['Sample'].apply(lambda x:x.split('_')[-1])
metadata.head()

          Condition_ Condition Sample Temp
X_10  Old Sarcopenia        OS   X_10   10
X_11     Old Healthy        OH   X_11   11
X_13  Old Sarcopenia        OS   X_13   13
X_14     Old Healthy        OH   X_14   14
X_15     Old Healthy        OH   X_15   15

## Preperation of count data
다음은 Count data를 분석에 바로 활용할 수 있도록 전처리하는 과정입니다.
1. 분석하지 않는 Unclassified 그룹을 제외합니다.
2. 행에 샘플, 열에 유전자 이름이 나오도록 transpose 합니다.

In [16]:
# UNCLASSIFIED 제외한 테이블 추출
counts = counts[metadata[metadata['Condition']!='NA'].index]
counts.head()

,X_10,X_11,X_13,X_14,X_15,X_16,X_17,X_18,X_19,X_1,...,X_75,X_76,X_77,X_78,X_79,X_7,X_80,X_81,X_8,X_9
Symbol,,,,,,,,,,,,,,,,,,,,,
TSPAN6,6,8,10,6,4,2,5,3,5,3,...,5,7,6,9,3,3,7,5,4,1
TNMD,0,1,0,0,1,1,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
DPM1,20,35,14,22,17,9,30,22,22,16,...,34,22,35,20,23,19,40,12,6,34
SCYL3,18,10,6,18,9,9,11,18,8,6,...,11,13,11,12,12,9,5,8,5,10
C1orf112,1,2,1,1,2,0,0,1,0,0,...,2,0,0,1,1,0,0,1,2,0

## Data filtering
* 발현량이 없는 유전자를 필터링합니다.
* 코멘트: %로 필터링해보기 (논문참고)

In [17]:
# 전체 샘플에서 발현량이 없는 유전자를 필터링합니다.
print(f'필터링 전 테이블: {counts.shape}')
counts = counts[counts.sum(axis=1)>0]
print(f'필터링 후 테이블: {counts.shape}')

필터링 전 테이블: (36694, 76)
필터링 후 테이블: (22262, 76)

In [18]:
# 논문 상 필터링 기준
counts = counts[counts.sum(axis=1)>10]
print(f'논문기반 필터링 후 테이블: {counts.shape}')

논문기반 필터링 후 테이블: (15871, 76)

In [19]:
# 행은 샘플명, 열은 유전자 명으로 transpose
counts = counts.T
counts.head()

Symbol,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,SND1.IT1,TSTD3,PWAR5,NDUFAF2P1,WASH9P,SOWAHCP2,KMT5AP1,BCLAF1P2,RPL23AP61,UCKL1.AS1
X_10,6,0,20,18,1,3,34,8,11,3,...,1,1,24,0,2,0,1,2,0,4
X_11,8,1,35,10,2,1,30,2,17,2,...,2,0,34,1,5,0,0,0,0,2
X_13,10,0,14,6,1,1,35,2,15,3,...,1,0,19,0,2,0,0,0,0,0
X_14,6,0,22,18,1,0,11,4,18,5,...,1,1,25,0,1,0,1,0,0,2
X_15,4,1,17,9,2,0,27,7,15,4,...,1,1,14,1,3,0,0,2,0,2

In [20]:
os.getcwd()

'/Users/soheepark/dsc/DSC-human/RNA-LYJ/Analysis'

In [22]:
# raw 저장
# metadata.to_csv('./GSE167186_metadata.csv', sep='\t')
# counts.to_csv('./GSE167186_counts.csv', sep='\t')
# counts.to_csv('./GSE167186_counts_filtered.csv', sep='\t')

# DEG analysis

**사전 설치**:  
`pip install pydeseq2`  
`pip install sanbomics`  

**Requirement**:  
아래 사이트에서 pydeseq2의 설치를 위한 패키지 의존성을 확인합니다.  
https://pydeseq2.readthedocs.io/en/latest/usage/requirements.html

In [11]:
import pydeseq2
from pydeseq2.dds import DeseqDataSet
from pydeseq2.default_inference import DefaultInference
from pydeseq2.ds import DeseqStats
from pydeseq2.utils import load_example_data
import os

## DeseqDataSet  

https://pydeseq2.readthedocs.io/en/latest/api/docstrings/pydeseq2.dds.DeseqDataSet.html 

* DeseqDataSet은 AnnData 클래스를 확장하여 사용
* 분산 및 logFC은 DESeq2 파이프라인에 따라 추정됨

### DEG analysis (pipeline)

In [13]:
# raw 불러오기
counts = pd.read_csv('./GSE167186_counts_filtered.csv', sep='\t', index_col=[0], low_memory=False)
metadata = pd.read_csv('./GSE167186_metadata.csv', sep='\t', index_col=[0])

In [14]:
def my_deseq(metadata, counts, name):
    # 1. Build DeseqDataSet
    dds = DeseqDataSet(counts=counts,
                       metadata=metadata,
                       design_factors="Condition")
    
    # 2. Run DEseq2
    dds.deseq2()
    
    # 3. Deseq2Stat
    group1 = dds.obs.Condition.unique()[0]
    group2 = dds.obs.Condition.unique()[1]
    print(f"comparison between {group1} and {group2}")
    
    stat_res = DeseqStats(dds, contrast=('Condition', group1, group2))
    stat_res.summary()
    res = stat_res.results_df
    
    # 4. Save dds and res as pickle and csv, respectively
    with open(f"./{name.split('_')[1]}/results_{name}_dds.pkl", 'wb') as f:
        pickle.dump(dds, f)
    res.to_csv(f"./{name.split('_')[1]}/results_{name}.csv")

In [18]:
# 3개 비교군 나누기
metadata_ohyh = metadata[(metadata['Condition']=='OH') | (metadata['Condition']=='YH')]
metadata_osoh = metadata[(metadata['Condition']=='OS') | (metadata['Condition']=='OH')]
metadata_osyh = metadata[(metadata['Condition']=='OS') | (metadata['Condition']=='YH')]

counts_ohyh = counts.loc[metadata_ohyh.index]
counts_osoh = counts.loc[metadata_osoh.index]
counts_osyh = counts.loc[metadata_osyh.index]

# my_deseq 구동
my_deseq(metadata_ohyh, counts_ohyh, 'GSE167186_ohyh_filtered')
my_deseq(metadata_osoh, counts_osoh, 'GSE167186_osoh_filtered')
my_deseq(metadata_osyh, counts_osyh, 'GSE167186_osyh_filtered')

Fitting size factors...
... done in 0.03 seconds.

Fitting dispersions...
... done in 4.12 seconds.

Fitting dispersion trend curve...
... done in 0.53 seconds.

Fitting MAP dispersions...
... done in 5.89 seconds.

Fitting LFCs...
... done in 2.85 seconds.

Replacing 32 outlier genes.

Fitting dispersions...
... done in 0.02 seconds.

Fitting MAP dispersions...
... done in 0.02 seconds.

Fitting LFCs...
... done in 0.01 seconds.

Running Wald tests...

['OH' 'YH']

... done in 1.29 seconds.

Log2 fold change & Wald test p-value: Condition OH vs YH
            baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
TSPAN6      5.465733       -0.086127  0.199698 -0.431287  0.666260  0.895437
TNMD        0.523736        0.201461  0.726083  0.277463  0.781424       NaN
DPM1       22.466529       -0.005716  0.131542 -0.043457  0.965337  0.991708
SCYL3      10.713833       -0.188360  0.147720 -1.275108  0.202271  0.564170
C1orf112    0.675763        0.305825  0.609216  0.501998  0.615669       NaN
...              ...             ...       ...       ...       ...       ...
SOWAHCP2    0.255236        0.028924  0.925358  0.031257  0.975064       NaN
KMT5AP1     0.174994        0.385016  1.222162  0.315029  0.752740       NaN
BCLAF1P2    0.511030       -0.099830  0.644070 -0.154998  0.876823       NaN
RPL23AP61   0.356363       -0.569868  0.782595 -0.728177  0.466505       NaN
UCKL1.AS1   2.053895        0.180704  0.361389  0.500026  0.617057  0.874972

[15871 rows x 6 columns]

Fitting size factors...
... done in 0.03 seconds.

Fitting dispersions...
... done in 6.24 seconds.

Fitting dispersion trend curve...
... done in 0.76 seconds.

Fitting MAP dispersions...
... done in 9.69 seconds.

Fitting LFCs...
... done in 3.70 seconds.

Replacing 20 outlier genes.

Fitting dispersions...
... done in 0.03 seconds.

Fitting MAP dispersions...
... done in 0.04 seconds.

Fitting LFCs...
... done in 0.02 seconds.

Running Wald tests...

['OS' 'YH']

... done in 1.46 seconds.

Log2 fold change & Wald test p-value: Condition OS vs YH
            baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
TSPAN6      5.803493        0.070755  0.209828  0.337206  0.735961  0.891657
TNMD        0.437790       -0.170323  0.867450 -0.196349  0.844337       NaN
DPM1       22.086787       -0.079989  0.138211 -0.578750  0.562758  0.799846
SCYL3      10.471977       -0.292125  0.156967 -1.861055  0.062736  0.250261
C1orf112    0.529970       -0.229913  0.668097 -0.344131  0.730747       NaN
...              ...             ...       ...       ...       ...       ...
SOWAHCP2    0.215972       -0.177358  1.078048 -0.164518  0.869324       NaN
KMT5AP1     0.182329        0.518679  1.296751  0.399983  0.689169       NaN
BCLAF1P2    0.412857       -0.695597  0.749499 -0.928083  0.353364       NaN
RPL23AP61   0.387560       -0.417041  0.783798 -0.532077  0.594672       NaN
UCKL1.AS1   1.732130       -0.138994  0.418908 -0.331801  0.740039  0.892543

[15871 rows x 6 columns]

Fitting size factors...
... done in 0.03 seconds.

Fitting dispersions...
... done in 5.19 seconds.

Fitting dispersion trend curve...
... done in 0.54 seconds.

Fitting MAP dispersions...
... done in 6.79 seconds.

Fitting LFCs...
... done in 3.26 seconds.

Replacing 26 outlier genes.

Fitting dispersions...
... done in 0.02 seconds.

Fitting MAP dispersions...
... done in 0.02 seconds.

Fitting LFCs...
... done in 0.01 seconds.

Running Wald tests...

['OS' 'OH']
Log2 fold change & Wald test p-value: Condition OS vs OH
            baseMean  log2FoldChange     lfcSE      stat    pvalue  padj
TSPAN6      5.654878        0.157117  0.188042  0.835542  0.403413   NaN
TNMD        0.473517       -0.374364  0.669769 -0.558946  0.576199   NaN
DPM1       22.147004       -0.073913  0.122217 -0.604773  0.545330   NaN
SCYL3       9.969259       -0.103497  0.142652 -0.725516  0.468136   NaN
C1orf112    0.626903       -0.535939  0.597332 -0.897222  0.369600   NaN
...              ...             ...       ...       ...       ...   ...
SOWAHCP2    0.237148       -0.205204  0.959586 -0.213846  0.830667   NaN
KMT5AP1     0.238784        0.134741  0.962118  0.140047  0.888623   NaN
BCLAF1P2    0.404395       -0.591307  0.696319 -0.849190  0.395776   NaN
RPL23AP61   0.304366        0.154205  0.815042  0.189198  0.849937   NaN
UCKL1.AS1   1.937287       -0.320551  0.366878 -0.873727  0.382267   NaN

[15871 rows x 6 columns]

... done in 1.17 seconds.

# GSEA
* (코멘트) gsea html 파일이 나옴! gmt, tms, gct 파일 input
* GO에 대한 유전자 score에 따른 정보 나옴

In [ ]:
res.head()
res['Symbol'] = res.index

In [ ]:
ranking = res[['Symbol','stat']].dropna().sort_values('stat', ascending=False)
ranking = ranking.drop_duplicates('Symbol')
ranking

In [ ]:
manual_set = {'things':['COL19A1', 'H19', 'FGF7', 'NHLH2', 'MT2A']}

In [ ]:
del ranking['Symbol']

In [ ]:
pre_res = gp.prerank(rnk = ranking,
                     gene_sets = ['GO_Biological_Process_2021', manual_set],
                     seed = 6, permutation_num = 100)

In [ ]:
out = []

for term in list(pre_res.results):
    out.append([term,
               pre_res.results[term]['fdr'],
               pre_res.results[term]['es'],
               pre_res.results[term]['nes']])

out_df = pd.DataFrame(out, columns = ['Term','fdr', 'es', 'nes']).sort_values('fdr').reset_index(drop = True)
out_df

In [ ]:
print(out_df.sort_values('nes').iloc[0].Term)
print(out_df.sort_values('nes').iloc[1].Term)

In [ ]:
my_term = out_df.sort_values('nes').iloc[0].Term
my_term

In [ ]:
gseaplot(rank_metric=pre_res.ranking, term=my_term, **pre_res.results[my_term])

## Build DeseqDataSet

In [106]:
metadata['Condition_'].unique()

array(['OS', 'OH', 'Un', 'YH'], dtype=object)

In [128]:
dds = DeseqDataSet(counts=counts.loc[metadata[metadata['Condition_']!='Un'].index],
                   metadata=metadata[metadata['Condition_']!='Un'],
                   design_factors="Condition_")
dds.deseq2()

/var/folders/zm/q_hkpfmd4c52bmx280q27v980000gn/T/ipykernel_6932/3494598582.py:1: UserWarning: Same factor names in the design contain underscores ('_'). They will
                be converted to hyphens ('-').
  dds = DeseqDataSet(counts=counts.loc[metadata[metadata['Condition_']!='Un'].index],
Fitting size factors...
... done in 0.05 seconds.

Fitting dispersions...
... done in 4.94 seconds.

Fitting dispersion trend curve...
... done in 0.71 seconds.

Fitting MAP dispersions...
... done in 7.95 seconds.

Fitting LFCs...
... done in 4.01 seconds.

Replacing 29 outlier genes.

Fitting dispersions...
... done in 0.02 seconds.

Fitting MAP dispersions...
... done in 0.02 seconds.

Fitting LFCs...
... done in 0.01 seconds.

In [129]:
dds

AnnData object with n_obs × n_vars = 72 × 22262
    obs: 'Condition', 'Condition-', 'Sample', 'Temp'
    uns: 'trend_coeffs', 'disp_function_type', '_squared_logres', 'prior_disp_var'
    obsm: 'design_matrix', 'size_factors', 'replaceable'
    varm: 'non_zero', '_MoM_dispersions', 'genewise_dispersions', '_genewise_converged', '_normed_means', 'fitted_dispersions', 'MAP_dispersions', '_MAP_converged', 'dispersions', '_outlier_genes', 'LFC', '_LFC_converged', 'replaced', 'refitted'
    layers: 'normed_counts', '_mu_hat', '_mu_LFC', '_hat_diagonals', 'cooks', 'replace_cooks'

In [130]:
dds.obs.Condition.unique()

array(['Old Sarcopenia', 'Old Healthy', 'Young Healthy'], dtype=object)

## Run DESeq2  
분산과 logFC를 fit하기 위해 DESeq2 파이프라인에 따라 추정됩니다. 아래와 같은 항목이 계산되어 anndata에 추가됩니다.
* Compute normalization factors
* Fit dispersion trend coefficients
* Dispersion priors
* MAP Dispersions
* Fit log fold changes
* Calculate Cooks distances and refit (Optional)

In [48]:
# deseq 계산
dds.deseq2()

Fitting size factors...
... done in 0.04 seconds.

Fitting dispersions...
... done in 4.42 seconds.

Fitting dispersion trend curve...
... done in 0.47 seconds.

Fitting MAP dispersions...
... done in 6.06 seconds.

Fitting LFCs...
... done in 3.14 seconds.

Replacing 20 outlier genes.

Fitting dispersions...
... done in 0.01 seconds.

Fitting MAP dispersions...
... done in 0.01 seconds.

Fitting LFCs...
... done in 0.01 seconds.

In [131]:
dds

AnnData object with n_obs × n_vars = 72 × 22262
    obs: 'Condition', 'Condition-', 'Sample', 'Temp'
    uns: 'trend_coeffs', 'disp_function_type', '_squared_logres', 'prior_disp_var'
    obsm: 'design_matrix', 'size_factors', 'replaceable'
    varm: 'non_zero', '_MoM_dispersions', 'genewise_dispersions', '_genewise_converged', '_normed_means', 'fitted_dispersions', 'MAP_dispersions', '_MAP_converged', 'dispersions', '_outlier_genes', 'LFC', '_LFC_converged', 'replaced', 'refitted'
    layers: 'normed_counts', '_mu_hat', '_mu_LFC', '_hat_diagonals', 'cooks', 'replace_cooks'

Anndata에 다음 항목이 추가됩니다.  
* `X`: the count data
* `obs`: design factors
* `obsm`: sample-level data (ex: design_matrix, size_factors)
* `varm`: gene-level data (ex: dispersions, LFC)

In [53]:
# # Raw count 및 Normalized count 유전자 발현량 분포 확인

# # 각 열의 합 또는 평균을 계산
# column_raw = dds.X.mean(axis=1)  # Raw count 평균
# column_norm = dds.layers['normed_counts'].mean(axis=1)  # Normazlied 평균

# # 합 또는 평균의 분포를 히스토그램으로 시각화
# plt.figure(figsize=(10, 5))

# # Raw count 평균 히스토그램
# plt.subplot(1, 2, 1)
# sns.histplot(column_raw, kde=True, color="blue", bins=30)
# plt.title("Mean of Raw Counts Distribution")

# # Normazlied 평균 히스토그램
# plt.subplot(1, 2, 2)
# sns.histplot(column_norm, kde=True, color="green", bins=30)
# plt.title("Mean of Normalized Counts Distribution")

# plt.tight_layout()
# plt.show()

## DeseqStats

https://pydeseq2.readthedocs.io/en/latest/api/docstrings/pydeseq2.ds.DeseqStats.html

* 미분 표현을 위한 PyDESeq2 통계 테스트
* DESeq2 파이프라인에 따라 차등 유전자 발현에 대한 p-value 추정
* apeGLM logFC 축소 지원

In [58]:
stat_res = DeseqStats(dds, contrast=('Condition', 
                                     dds.obs.Condition.unique()[0], 
                                     dds.obs.Condition.unique()[1]))
stat_res.summary()

Running Wald tests...

Log2 fold change & Wald test p-value: Condition Sarcopenia vs Young Healthy
            baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
Symbol
TSPAN6      5.803493        0.070761  0.209034  0.338517  0.734974  0.891126
TNMD        0.437790       -0.170577  0.861031 -0.198108  0.842961       NaN
DPM1       22.086787       -0.080009  0.138125 -0.579249  0.562421  0.799059
SCYL3      10.471977       -0.292301  0.156472 -1.868065  0.061753  0.246922
C1orf112    0.529970       -0.229904  0.664676 -0.345890  0.729426       NaN
...              ...             ...       ...       ...       ...       ...
GATD3B      0.027959       -0.171026  3.075026 -0.055618  0.955646       NaN
PCDH20      0.022076       -0.171026  3.075026 -0.055618  0.955646       NaN
UCKL1.AS1   1.732130       -0.138432  0.416866 -0.332078  0.739830  0.891747
FRG1KP      0.000000             NaN       NaN       NaN       NaN       NaN
ERICD       0.117460        0.581956  3.058409  0.190281  0.849089       NaN

[22126 rows x 6 columns]

... done in 1.35 seconds.

In [59]:
res = stat_res.results_df
res

            baseMean  log2FoldChange     lfcSE      stat    pvalue      padj
Symbol
TSPAN6      5.803493        0.070761  0.209034  0.338517  0.734974  0.891126
TNMD        0.437790       -0.170577  0.861031 -0.198108  0.842961       NaN
DPM1       22.086787       -0.080009  0.138125 -0.579249  0.562421  0.799059
SCYL3      10.471977       -0.292301  0.156472 -1.868065  0.061753  0.246922
C1orf112    0.529970       -0.229904  0.664676 -0.345890  0.729426       NaN
...              ...             ...       ...       ...       ...       ...
GATD3B      0.027959       -0.171026  3.075026 -0.055618  0.955646       NaN
PCDH20      0.022076       -0.171026  3.075026 -0.055618  0.955646       NaN
UCKL1.AS1   1.732130       -0.138432  0.416866 -0.332078  0.739830  0.891747
FRG1KP      0.000000             NaN       NaN       NaN       NaN       NaN
ERICD       0.117460        0.581956  3.058409  0.190281  0.849089       NaN

[22126 rows x 6 columns]